
body {
    height: 100vh;
    min-height: 100vh;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

a {
    color: #1f2937;
}
/* Hero items, and buttons */

#canoe-dad {
    width: 250px;
    border: 10px solid white;
    filter: drop-shadow(10px 10px 5px black);
}

#logo-img {
    width: 180px;
    display: flex;
    align-self: center;
    padding: 8px;
    margin-left: auto;
}

.button {
    background-color: #3882f6;
    color: #eee;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    margin: 8px;
    width: 108px;
}
.button:hover {
    background-color: #8c8aff;
    cursor: pointer;
}

/* beginning of the hero */

.hero-header {
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 48px;
    flex: 1;
    width: auto;
}

.header {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding: 8px;
    flex: 1;

}

.header-links {
    display: flex;
    gap: 20px;
    align-self: flex-start;
    flex-shrink: 1;
    flex-wrap: wrap;
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    padding: 8px;
    flex-wrap: wrap;
}

.header-flavor {
    display: flex;
    flex-direction: column;
    flex: 0;
    gap: 0px;
    flex-basis: 420px;
    padding: 8px;
}
.hero-button {
    align-self: flex-start;
    border: none;
    font-size: 18px;
}

#hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
    padding: 8px;
    display: flex;
    flex-shrink: 0;

}

#hero-body-text {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
    padding: 8px;
    display: flex;
    flex-shrink: 0;

}   

/* start of photo section */

.picture-header {
    text-align: center;
}

.photo {
    width: 140px;
    border-radius: 10%;
    border: 3.5px solid #3882f6;
    filter: drop-shadow(10px 10px 5px #dccfc7);
}

.photo-section {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    gap: 48px;
}

.photo-tile {
    display: flex;
    justify-content: center;
    flex: 0;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 8px;
    gap: 20px;
}

.photo-tile p {
    justify-content: center;
    flex: auto;
    text-align: center;
}

/* Quote Section */

.quote-section {
    display: flex;
    flex: 0;
    flex-direction: column;
    background-color: #e5e7eb;
    width: 100%;
    align-items: center;
}   

.full-quote {
    max-width: 1000px;
    padding-left: 48px;
    padding-right: 48px;
    margin: 48px;
}

.quote-section .quote {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    flex: 0;
    flex-wrap: wrap;
    text-align: center;
}

.quote-section .author {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 1;
    font-size: 18px;
}

/* Call to action */

.call-to-action-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px;
}

.newsletter-signup-banner {
    background-color: #3882f6;
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    border-radius: 5px;
    min-width: none;
    max-width: 1000px;
}

.cta-button {
    border: 1px solid white;
    text-decoration: none;
}

.newsletter-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: 48px;
}

.newsletter-text {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-wrap: wrap;
    flex: 2;
    max-width: 420px;
}

/* Start of footer  */

.footer {
    display: flex;
    flex: 0;
    flex-direction: column;
    background-color: #1f2937;
    width: 100%;
    align-items: center;
}

.footer-text {
    color: #e5e7eb;
    font-size: 18px;
    margin: 20px;
}